@import url('../article-list/article-list.css');

/* search box */
.search .search-box {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 8px;
  align-items: center;
  padding-bottom: 20px;
}

.search .search-box input {
  width: 100%;
  border: 1px solid var(--dark-color);
  padding: 5px 15px;
  font: inherit;
}

.search-container h1 {
  padding-top: 10px;
  margin-bottom: 20px;
}
